/**********
*
*	Shadows
*
*********/

/**********
*
*	Rounded corners
*
*********/

.borderradius #wrapper,
.borderradius input[type=submit] {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;	
}

/**********
*
*	Gradients
*
**********/

/**********
*
*	RGBA
*
*********/